/* generic */
body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* fim */

/* header */
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  margin: 0;
}

.logo img {
  width: 100%;
}

/* section general */
section,
footer {
  padding: 20px 0;
}

.section-title {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 36px;
  }
}

@media (min-width: 1024px) {
  .section-title {
    margin-bottom: 30px;
  }
}

/* section members list */
.members-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.members-list .card {
  text-align: center;
  cursor: pointer;
}

.members-list .card .member-photo {
  height: auto;
  width: 100%;
}

.members-list .card .member-photo img {
  height: auto;
  width: 100%;
}

.members-list .card .title {
  text-transform: uppercase;
}

.members-list .card .description {
  padding: 0 50px;
}

@media (min-width: 768px) {
  .members-list .card .title {
    font-size: 30px;
  }

  .members-list .card .description {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .members-list {
    flex-direction: row;
  }

  .members-list .card .member-photo img {
    width: 50vw;
  }

  .members-list .card .title {
    font-size: 24px;
  }

  .members-list .card .description {
    font-size: 22px;
  }
}

/* albums list */
.albums-list {
  display: flex;
  flex-direction: column;
}

.album-link {
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.album-link:hover {
  color: rgb(173, 127, 0);
}

.album-img {
  width: 100%;
}

@media (min-width: 768px) {
  .album-item h3 {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .albums-list {
    padding: 0 50px;
    justify-content: center;
  }

  .album-link {
    display: block;
  }

  .album-img {
    width: 500px;
    text-align: center;
  }
}

/* footer */
.contact-list {
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
}

.fab {
  font-size: 30px;
}

.contact-link {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .fab {
    font-size: 48px;
  }
}